# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables (SECRET KEYS)
.env

# Local database
db.sqlite3

# Collected static files (production build)
staticfiles/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/